div.row {
    border-bottom: #369 3px solid;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*
p.precio {
    font-size: 100%;
    color: #369;
    height: auto;
}
*/
@media (max-width: 500px) {
    .precio {
        font-size: 100%;
        color: #369;
        height: auto;
          }  
    }
img.i_alergenos {
    width: 35px;
}

@media (min-width: 500px) {
    .precio {
        font-size: 160%;
        color:#369;
        height: auto;
    }  
    .itemname {
        font-size: 200%;
    }
}
img.i_alergenos {
    width: 35px;
}


/* ***********************/
ul.social-icons {
    list-style: none;
    padding: 0;
    margin: -5px;
    display: inline-block;
}

ul.sp-contact-info {
    list-style: none;
    padding: 0;
    margin: -5px;
    display: inline-block;
}

/*********************************/

div.pie {
    margin-top: 1em;
    padding-top: 30px;
}

/***********************************/

.md-accordion .card .card-header a:not(.collapsed) .rotate-icon {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}